---
import Javascript from "../icons/Javascript.astro";
import Tailwind from "../icons/Tailwind.astro";
import React from "../icons/Reactjs.astro";
import Node from "../icons/Nodejs.astro";
import Express from "../icons/Expressjs.astro";
import Typescript from "../icons/Typescript.astro";
import MongoDB from "../icons/MongoDB.astro";
import Github from "../icons/GithubIcon.astro";
import LinkButton from "./LinkButton.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import Html5 from "../icons/Html5.astro";
import Css from "../icons/Css3.astro";
import LinkIcon from "../icons/LinkIcon.astro";
import Jesticon from "../icons/JestIcon.astro";
const TAGS = {
    JAVASCRIPT: {
        name: "Javascript",
        class: " text-white",
        icon: Javascript,
    },
    TAILWIND: {
        name: "Tailwind",
        class: " text-white",
        icon: Tailwind,
    },
    REACT: {
        name: "React",
        class: " text-white",
        icon: React,
    },
    NODE: {
        name: "Node",
        class: " text-white",
        icon: Node,
    },
    Express: {
        name: "Express",
        class: " text-white",
        icon: Express,
    },
    TypeScript: {
        name: "Typescript",
        class: " text-white",
        icon: Typescript,
    },
    MongoDB: {
        name: "MongoDB",
        class: " text-white",
        icon: MongoDB,
    },
    Github: {
        name: "Github",
        class: " text-white",
        icon: Github,
    },
    Html5: {
        name: "HTML5",
        class: "text-white",
        icon: Html5,
    },
    Css3: {
        name: "CSS",
        class: "text-white",
        icon: Css,
    },
    Jest: {
        name: "Jest",
        class: "text-white",
        icon: Jesticon,
    },
};
const PROJECTS = [
    {
        title: "FutNow",
        description:
            "FutNow simplifies finding and booking football matches in your city, connecting players without teams or available fields. Currently, the MVP is visible, and the project continues to be developed.",
        github: "https://github.com/b00tc4mp/isdi-bootcamp-202402/pull/467",
        image: "/projects/svgl.webp",
        tags: [
            TAGS.JAVASCRIPT,
            TAGS.TAILWIND,
            TAGS.REACT,
            TAGS.NODE,
            TAGS.Express,
            TAGS.TypeScript,
            TAGS.MongoDB,
            TAGS.Github,
        ],
    },
    {
        title: "Rick & Morty Api",
        description:
            "Developed a project using the Rick and Morty API to display all characters with various filters, including options to filter by location and episodes.",
        link: "https://rick-and-morty-api-rouge.vercel.app/home",
        github: "https://github.com/heberjs/rick-and-morty-api/tree/main",
        image: "/projects/rick&morty.webp",
        tags: [
            TAGS.JAVASCRIPT,
            TAGS.TAILWIND,
            TAGS.REACT,
            TAGS.NODE,
            TAGS.Github,
            TAGS.Jest,
        ],
    },
    {
        title: "Blog de café",
        description:
            "I've created a coffee blog using  HTML and SCSS, providing insights into the world of coffee.",
        link: "https://helpful-ganache-2c9a36.netlify.app/",
        image: "/projects/cafe-svgl.webp",
        tags: [TAGS.Html5, TAGS.Css3],
    },
    {
        title: "Rock & EDM Festival",
        description:
            "I've created a website to view the festivals in your city, using HTML and CSS.",
        link: "https://exquisite-gumption-a54ffc.netlify.app/",
        image: "/projects/festival-svgl.webp",
        tags: [TAGS.Html5, TAGS.Css3],
    },
];
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ title, description, link, github, image, tags }) => (
            <article class="ml-4">
                <h3 class="text-2xl font-semibold text-yellow-200">{title}</h3>
                <p class="text-lg mb-4 text-pretty">{description}</p>
                <ul class="md:grid md:grid-cols-4  md:gap-x-4 md:mb-2 flex flex-wrap">
                    {tags.map((tag) => (
                        <li class="flex mb-2">
                            <span
                                class={`flex justify-center gap-x-2 rounded-full tex-xs ${tag.class} py-1 px-2`}
                            >
                                <tag.icon class="size-6" />
                                {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
                <img
                    class="rounded shadow-2xl shadow-white/10"
                    src={image}
                    alt={title}
                />
                <footer class="flex gap-x-4 justify-end mt-2">
                    {github && (
                        <LinkButton href={github}>
                            <GithubIcon class="size-6" />
                            Code
                        </LinkButton>
                    )}

                    {link && (
                        <LinkButton href={link}>
                            <LinkIcon href={link} class="size-6" />
                            Preview
                        </LinkButton>
                    )}
                </footer>
            </article>
        ))
    }
</div>
